.buy-me-coffee-button {
    border: 5px solid #F7D501;
    border-radius: 20px;
    width: 400px;
    padding: 20px;
    display: block;
    position: relative;
    cursor: pointer;
}

.buy-me-coffee-button:hover {
    background-color: #F7D501;
}

.buy-me-coffee-logo-container {
    display: inline-block;
    margin-left: 20px;
}

.buy-me-coffee-button-label {
    display: inline-block;
    font-family: var(--font-family-text);
    font-size: 30px;
    position: relative;
    top: -6px;
    margin-left: 50px;
}