.sidebar {
    width: 300px;
    height: 100vh;
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
    transition: left 0.5s;
    background-color: white;
    border-right: 1px var(--dark-color) solid;
}
 
.sidebar--hidden {
    left: -120px;
}
